@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {

  justify-content: center;
  align-items: center;
}

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

body {
  background: $white;
  font-family: $font-1;
  //@include verticalCenter;
}
li {
  list-style-type: none;
}

.titre {
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-top: 40px;
}

.trajet_pop{
  text-align: center;
  font-size: 50px;
  margin-top: 150px;
}

.inscription{

  display: flex;
  font-size: 50px;
  flex-direction: column;
  align-items: center;
  
  form {
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  width: 60rem;
  }
  
  input {
  padding: 0 1rem;
  height: 4rem;
  width: 100%;
  margin: 5px;
  border: none;
  border-radius: 50px;
  font-size: medium;
  }

  input[type="submit"] {
    align-items: center;
    
    padding: auto;
    height: 4rem;
    width: 16rem;
    margin: 0 1rem;
    font-size: 1rem;
    color: #fff;
    background: orangered;
    cursor: pointer;
  }
}


button{
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  width: 100%;
  margin: 5px;
  border: none;
  border-radius: 50px;
  font-size: medium;
  background-color: orangered;
  color : white;
}

.modifierMembre{
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  width: min-content;
  margin: 3px;
  border: none;
  border-radius: 50px;
  font-size: medium;
}

.proposer{
  display: flex;
  font-size: 50px;
  flex-direction: column;
  align-items: center;
  
  form {
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  width: 60rem;
  }
  
  input {
  padding: 0 1rem;
  height: 4rem;
  width: 100%;
  margin: 5px;
  border: none;
  border-radius: 50px;
  font-size: medium;
  }

  input[type="submit"] {
    align-items: center;
    padding: auto;
    height: 4rem;
    width: 16rem;
    margin: 0 1rem;
    font-size: 1rem;
    color: #fff;
    background: orangered;
    cursor: pointer;
  }

}